<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<script type="text/javascript" src="../../lib/jquery-1.12.4.js"></script>
	<!-- <script src="../lib/realgrid.2.4.1/realgrid-lic.js"></script>
	<script src="../lib/realgrid.2.4.1/realgrid.2.4.1.min.js"></script> -->
	<script type="text/javascript" src="../../lib/jquery-ui.js"></script>
	<script type="text/javascript" src="../../lib/ztree/jquery.ztree.all.js"></script>
	<!-- <script type="text/javascript" src="../js/grid.js"></script> -->
	<script type="text/javascript" src="../../js/ui.js"></script>
	<!-- <script src="../js/grid.js"></script> -->
	<link rel="stylesheet" href="../../lib/jquery-ui.css">
	<link rel="stylesheet" href='../../css/common.css'>
	<link rel="stylesheet" href='../../css/main.css'>
	<link rel="stylesheet" href='../../css/core.css'>
	<link rel="stylesheet" href='../../css/midea-q.css'>
	<link rel="stylesheet" href='../../css/newCommon.css'>
</head>
<body>
    <div class="wrap sub default">
        <div class="call-menu-box on">
            <a href="" class="arrow-box">
                <span class="hidden">열기버튼</span>
            </a>
            <div class="left-box">
                <ul class="call-menu">
                    <li><a href="" class="cti01">CTI연결</a></li>
                    <li><a href="" class="cti02">전화걸기</a></li>
                    <li><a href="" class="cti03">전화끊기</a></li>
                    <li><a href="" class="cti04">보류</a></li>
                    <li><a href="" class="cti05">작업중</a></li>
                    <li><a href="" class="cti06">대기</a></li>
                    <li><a href="" class="cti07">이석</a></li>
                    <li><a href="" class="cti08">호의</a></li>
                    <li><a href="" class="cti09">호상태조회</a></li>
                    <li><a href="" class="cti10">호전환</a></li>
                    <li><a href="" class="cti11">현장상담</a></li>
                </ul>
            </div>
            <div class="right-box">
                <div class="depth-conts-table">
                    <div class="depth-conts-row">
                        <div class="depth-conts-cell">
                            <span class="depth-conts-cell-title wd80">상담일</span>
                            <span>
                                <input type="text" class="mWd120">
                            </span>
                        </div>
                        <div class="depth-conts-cell">
                            <span class="depth-conts-cell-title wd80">업무상태</span>
                            <span class="half-input">
                                    <input type="text" class="wide">
                                    <input type="text" class="wide">
                                </span>
                        </div>
                        <div class="depth-conts-cell">
                            <span class="depth-conts-cell-title wd80">대기호</span>
                            <span>
                                    <input type="text" class="mWd120">
                                </span>
                        </div>
                    </div>
                    <div class="depth-conts-row">
                        <div class="depth-conts-cell">
                            <span class="depth-conts-cell-title wd80">상담원</span>
                            <span>
                                    <input type="text" class="mWd120">
                                </span>
                        </div>
                        <div class="depth-conts-cell">
                            <span class="depth-conts-cell-title wd80">CTI상태</span>
                            <span class="half-input">
                                    <input type="text" class="wide">
                                    <input type="text" class="wide">
                                </span>
                        </div>
                        <div class="depth-conts-cell">
                            <span class="depth-conts-cell-title wd80">대기시간</span>
                            <span>
                                    <input type="text" class="mWd120">
                                </span>
                        </div>
                    </div>
                    <div class="depth-conts-row">
                        <div class="depth-conts-cell">
                            <span class="depth-conts-cell-title wd80">연결전화</span>
                            <span>
                                    <input type="text" class="mWd120">
                                </span>
                        </div>
                        <div class="depth-conts-cell">
                                <span class="depth-conts-cell-title wd80">착신지사
                                </span>
                            <span>
                                    <input type="text" class="mWd120">
                                </span>
                        </div>
                        <div class="depth-conts-cell">
                            <span class="depth-conts-cell-title wd80">갱신시간</span>
                            <span>
                                    <input type="text" class="mWd120">
                                </span>
                        </div>
                    </div>
                </div>
            </div><!-- right-box -->
        </div><!-- call-menu-box -->
    </div>
    
</body>
<!-- <script type="text/javascript">
$(document).ready(function() {
	sideCntInit();

	if(getUserInfo().CHRG_AUTHR_CLCD == '20'){
		$("#cti").css("display", "block");
	}
});
</script> -->
</html>