<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
    <head>
        @@include('include/head_p.html')
	</head>
<body>
    @@include('include/subHeader_p.html')
    <div class="gnb sub">
        <div class="menuBg"></div>
        <div class="navigation-now">
            <span>일정</span>
            <span>측량일정관리</span>
        </div>
        <ul class="menu">
            <li>
            <a href="#" onclick="return false;">사업관리</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                    <li><a href="/cr/cr30/list.do">일반접수목록</a></li>
                    <li><a href="/cr/cr40/list.do">특수접수목록</a></li>
                    <li><a href="/cr/cr50/list.do">선수금</a></li>
                    <li><a href="/cr/cr60/list.do">업무이관</a></li>
                    <li><a href="#">과거측향이력조회</a></li>
                </ul>
            </div>
            </li>
            <li>
            <a href="/" onclick="return false;">접수</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                    <li><a href="/cr/cr30/list.do">일반접수목록</a></li>
                    <li><a href="/cr/cr40/list.do">특수접수목록</a></li>
                    <li><a href="/cr/cr50/list.do">선수금</a></li>
                </ul>
            </div>
            </li>
            <li>
            <a href="/" onclick="return false;">일정</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                </ul>
            </div>
            </li>
            <li>
            <a href="/" onclick="return false;">공정관리</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                    <li><a href="/cr/cr30/list.do">일반접수목록</a></li>
                    <li><a href="/cr/cr40/list.do">특수접수목록</a></li>
                    <li><a href="/cr/cr50/list.do">선수금</a></li>
                    <li><a href="/cr/cr60/list.do">업무이관</a></li>
                    <li><a href="#">과거측량이력조회</a></li>
                    <li><a href="#">인지세대장</a></li>
                    <li><a href="#">일반접수처리</a></li>
                </ul>
            </div>
            </li>
            <li>
            <a href="/" onclick="return false;">정산</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                </ul>
                </div>
            </li>
            <li>
            <a href="/" onclick="return false;">성과</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                    <li><a href="/cr/cr30/list.do">일반접수목록</a></li>
                    <li><a href="/cr/cr40/list.do">특수접수목록</a></li>
                    <li><a href="/cr/cr50/list.do">선수금</a></li>
                    <li><a href="/cr/cr60/list.do">업무이관</a></li>
                    <li><a href="#">과거측량이력조회</a></li>
                    <li><a href="#">인지세대장</a></li>
                    <li><a href="#">일반접수처리</a></li>
                </ul>
            </div>
            </li>
            <li>
            <a href="/" onclick="return false;">결산</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                    <li><a href="/cr/cr30/list.do">일반접수목록</a></li>
                    <li><a href="/cr/cr40/list.do">특수접수목록</a></li>
                    <li><a href="#">특수접수목록과거<br>이력조회</a></li>
                    <li><a href="#">일반접수목록</a></li>
                </ul>
            </div>
            </li>
            <li>
            <a href="/" onclick="return false;">계산서</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                </ul>
            </div>
            </li>
            <li>
            <a href="/" onclick="return false;">목표량</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                    <li><a href="/cr/cr30/list.do">일반접수목록</a></li>
                    <li><a href="/cr/cr40/list.do">특수접수목록</a></li>
                </ul>
                </div>
            </li>
            <li>
            <a href="/" onclick="return false;">통계</a>
            <div class="dep2">
                <ul>
                    <li><a href="/cr/cr10/list.do">일반접수처리</a></li>
                    <li><a href="/cr/cr20/list.do">특수접수처리</a></li>
                    <li><a href="/cr/cr30/list.do">일반접수목록</a></li>
                    <li><a href="/cr/cr40/list.do">특수접수목록</a></li>
                    <li><a href="/cr/cr50/list.do">선수금</a></li>
                    <li><a href="/cr/cr60/list.do">업무이관</a></li>
                    <li><a href="#">과거측량이력조회</a></li>
                    <li><a href="#">인지세대장</a></li>
                    <li><a href="#">일반접수처리</a></li>
                    <li><a href="#">특수접수처리</a></li>
                    <li><a href="#">일반접수목록</a></li>
                    <li><a href="#">특수접수목록</a></li>
                </ul>
            </div>
            </li>
        </ul>
    </div>
</body>
</html>